body {
  background-color: gray;
}

header {
  display: flex;
  align-items: center;
  padding: 3  0px;
  justify-content: center;
}

.logo {
  width: 220px;
  border-radius: 120px;
}

.paragraph-title {
  font-size: 32px;
  font-weight: bold;
}